:root{
    --bg-color:rgba(145, 233, 203, 0.319);
    --base-color: aliceblue;
    --search-color: rgb(118, 230, 193);
    --search-word: white;
    --search-hover: rgb(80, 163, 135);
    --wordofday-color: rgb(9, 46, 80);
    --exampeofday-color: rgba(9, 46, 80, 0.741);
    --wordcolor: black;
    --kindcolor: rgb(158, 163, 167);
    --meaningcolor: #DEE4EA;
    --exampecolor: #DEE4EA;
    --icon: black;
    --icon-bg: white;
    --inputcolor:black;
    --errormsg:black;

}


.darkmode{
    --bg-color:#1D2125;
    --base-color: #161A1D;
    --search-color: #F1F2F4;
    --search-word: black;
    --search-hover:#8590A2;
    --wordofday-color: #DEE4EA;
    --exampeofday-color: #C7D1DB;
    --wordcolor: #DEE4EA;
    --kindcolor: #B6C2CF;
    --meaningcolor: #DEE4EA;
    --exampecolor: #DEE4EA;
    --icon: white;
    --icon-bg: black;
    --inputcolor:white;
    --errormsg:white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    font-family: "Poppins" , sans-serif;
}

#theme-switch{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: var(--icon-bg);
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
    left: 39cm;
    top: 0.2cm;
    border: none;
}

button {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

#theme-switch svg{
    fill: var(--icon);
}

#theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: block;
}

.word-of-day {
    text-align: center;
}

.word-of-day h2 {
    font-size: 22px;
    color: var(--search-color);
    margin-top: 12px;
    background-color: var(--base-color);
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
}

#word-of-day-output {
    font-size: 18px;
    color: var(--wordofday-color); 
    margin-top: 10px;
    padding: 20px;
    background-color: var(--base-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meaningofday{
    padding-top: 20px;
    font-size: 15px;
}

.exampleofday{
    padding-top: 10px;
    font-size: 12px;
    color: var(--exampeofday-color);
}


.container {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--base-color);
    top: 55%;
    left: 50%;
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

}

.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input{ 
    background-color: var(--base-color);
    border: none;
    border-bottom: 2px solid var(--search-color);
    outline: none;
    color: var(--inputcolor);
}

#search-btn {
    padding: 10px 20px;
    margin-left: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--search-color);
}

#search-btn:hover {
    background-color: var(--search-hover);
}

#output{
    position: relative;
}

.word{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: var(--wordcolor);
}
.word-kind{
    display: flex;
    font-size: 12px;    
    padding-top: 5px;
    font-style: italic;
    color: var(--kindcolor);
}


.word-meaning{
    padding-top: 50px;
    font-size: 14px;
    color: var(--wordcolor);
}

.word-example{
    margin-top: 20px;
    font-size: 13px;
    padding-left: 10px;
    border-left: 5px solid rgb(118, 230, 193);
    color: var(--wordcolor);
}

.error{
    color: var(--errormsg);
    margin-top: 30px;
}

